main{
  width: 1400px;
  .nav {
    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px ;
      margin: 0 auto;
      width: 300px;
      &> div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .picture{
          margin-right: 10px;
          margin-top: 5px;
        }
      }
      img{
        width: 24px;
        height: 24px;

      }
    }
    .two-mhz{
      margin: 0 auto;
      width: 1000px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 50px;
      > div{
        display: flex;
      }
      img{
        width: 40px;
        height: 40px;
      }
      .title{
        width: 72px;
        height: 17px;
        opacity: 1;
        color: rgba(0,0,0,1);
        font-size: 12px;
        font-weight: 400;
        font-family: "PingFang SC";
        text-align: left;
      }
      .details{
        width: 350px;
        height: 17px;
        opacity: 1;
        color: rgba(188.06,187.28,187.28,1);
        font-size: 12px;
        font-weight: 400;
        font-family: "PingFang SC";
        text-align: left;
      }
    }
  }
  .artist{
    padding-left: 200px;
    .title{
      width: 140px;
      display: flex;
      align-items: center;
      color: rgba(165.75,165.75,165.75,1);
      font-size: 14px;
      font-weight: 400;
      font-family: "PingFang SC";
      text-align: left;
      div{
        width:105px;
      }
      img{
        width: 15px;
        height: 15px;
      }
    }
    .list{
      width: 1000px;
      margin-top: 50px;
      height: 550px;
      > div{
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 200px;
        margin-bottom: 80px;
      }
      .avater{
        width: 120px;
        height: 120px;
        border-radius: 60px;
      }
      .name{
        margin-top: 20px;
        width: 120px;
        height: 20px;
        opacity: 1;
        color: rgba(0,0,0,1);
        font-size: 14px;
        font-weight: 400;
        font-family: "PingFang SC";
        text-align: center;
      }
      .description{
        margin-top: 10px;
        width: 200px;
        height: 17px;
        opacity: 1;
        color: rgba(176.37,176.37,176.37,1);
        font-size: 12px;
        font-weight: 400;
        font-family: "PingFang SC";
        text-align: center;
      }
    }
  }
  .more{
    width: 110px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    color: rgba(174.25,174.25,174.25,1);
    font-size: 12px;
    font-weight: 400;
    margin:0 auto;
  }
  .mhzModels{
    padding-left: 200px;
    margin-top: 40px;
    height: 200px;
    .title{
      color: rgba(165.75,165.75,165.75,1);
      font-size: 12px;
      font-weight: 400;
    }
    .age, .mood ,.style{
      float:left;
      margin-right: 140px;
      width: 70px;
      height:60px;
      line-height: 60px;
    }
    .word span:nth-child(1){
      color: rgba(27.63,27.63,27.63,1);
      font-size: 14px;
      font-weight: 500;
    }
    .word span:nth-child(2){
      color: rgba(164.69,164.69,164.69,1);
      font-size: 12px;
      font-weight: 400;
    }
  }
}
