<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>share.html</title>
    <meta name="referrer" content="never">
    <link type="text/css" rel="stylesheet" href="/css/share.css">
</head>
<body>
<main th:fragment="share">
    <div class="title">
        <div class="special">
            <div class="title-part">
                <img src="/img/">
            </div>
            <div class="title-part">
                <div>我不完美</div>
                <div>单曲</div>
            </div>
        </div>
        <div class="bar"></div>
    </div>
    <div id="qrcode"></div>
    <div class="weixin">扫描分享到微信</div>
    <div class="list">
        <img src="/img/dou.jpg">
        <img src="/img/weibo.jpg">
        <img src="/img/qq.jpg">
        <img src="/img/a.png">
    </div>
</main>
<script type="text/javascript" src="/js/qrcode-min.js"></script>
</body>
</html>